//css variables
$hover: #FF5400;
$ease: cubic-bezier(0.25, 0.74, 0.22, 0.99);

//global styles
*, ::after, ::before {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  font-style: normal;
  margin: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: 'Barlow', sans-serif;
}

a {
  text-decoration: none;
  transition: color .4s ease;

  &:hover {
    color: $hover;
  }
}

::selection {
  background: $hover;
  color: #fff;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  object-fit: cover;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
  box-shadow: none;
}

table {
  width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

// margin class
.m-0 {
  margin: 0 !important;
}


// padding class
.p-0 {
  padding: 0 !important;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px;
  overflow: hidden;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}


.flex {
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
  margin-right: -15px;
  margin-left: -15px;
  flex-wrap: wrap;
}

.margin {
  margin-left: -15px;
  margin-right: -15px;
  width: 100%;
}

@media (min-width: 1500px) {
  .container {
    min-width: 85%;
    margin: auto;
  }
}

@media (max-width: 1199px) and (min-width: 576px) {
  .container {
    max-width: 90%;
    width: 90%;
    margin: auto;
  }
}

.gray-badge {
  background-color: #23313A;
  width: fit-content;
  padding: 2px 8px;
  border-radius: 5px;
  font-size: 12px;
  //line-height: 17px;
}

.offer-badge span {
  background-color: #ff5400;
  width: fit-content;
  padding: 4px 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 2px;
  font-size: 12px;
  clip-path: polygon(0 0, 85% 0%, 100% 100%, 0% 100%);
  color: #ffffff;
  line-height: 18px;
  display: block;
}

.border-badge {
  border: 1px solid #757575;
  padding: 3px 7px;
  color: #757575;
  text-transform: uppercase;
  border-radius: 4px;
  font-size: 12px;
  margin-right: 5px;
  line-height: 22px;
}

.title {
  font-size: 28px;
  line-height: 34px;
  text-transform: capitalize;
  font-weight: 500;
  margin-bottom: 30px;
}

.c-button {
  padding: 6px 12px;
  color: #ffffff;
  background-color: transparent;
  transition: background-color .5s $ease;
  border-radius: 5px;
  font-weight: 500;
  border: 1px solid rgba(147, 145, 145, 0.85);
  height: fit-content;

  &:hover {
    background-color: $hover;
    color: #ffffff;
  }
}

.overlay.active {
  position: fixed;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  top: 0;
  z-index: 99;
}