@import "global"; //import global sass

//---home banner
.home-banner {
  height: 100vh;
  position: relative;
  background-color: #272727;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 93%);
  }

  .container {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;

    p {
      color: #ffffff;

      &.gray-badge {
        margin-bottom: 5px;
      }

      &.offer-badge {
        margin-top: 25px;
        font-size: 40px;
        display: flex;

        span {
          margin-right: 20px;
        }
      }
    }

    h1 {
      color: #FFFFFF;
      text-transform: capitalize;
      font-weight: 500;
      font-size: 40px;
      line-height: 43px;
    }
  }

  //responsive style
  @media(max-width: 475px) {
    .container {
      h1 {
        font-size: 25px;
        line-height: 30px;
      }

      p.offer-badge {
        font-size: 30px;
        line-height: 20px;
      }
    }
  }
}

//---menu
.menu {
  position: absolute;
  z-index: 996;
  top: 0;
  width: 100%;
  left: 0;
  padding: 10px 40px 0 40px;
  //menu top
  &__top {
    display: flex;
    justify-content: space-between;
    position: relative;
    //logo
    &__logo {
      padding-top: 5px;
    }

    //menu items
    &__item {
      position: absolute;
      left: 0;
      right: 0px;
      margin: auto;

      ul {
        display: flex;
        width: fit-content;
        margin: auto;
        align-items: center;

        li {
          a {
            color: rgba(255, 255, 255, 0.8);

            &:hover {
              color: $hover;
            }
          }

          &:not(:nth-last-of-type(1)) a {
            margin-right: 30px;
            display: block;
          }
        }
      }
    }

    //account
    &__account {
      display: flex;
      padding-top: 5px;
      position: relative;
      z-index: 2;

      a {
        height: 30px;

        &:not(:nth-last-of-type(1)) {
          margin-right: 30px;
        }

        img {
          height: 16px;
        }
      }
    }

  }

  //menu bottom
  &__bottom {
    margin: -28px auto;
    width: fit-content;
    position: relative;

    &__main-items {
      width: fit-content;
      background: linear-gradient(90deg, rgba(10, 21, 27, 1) 0%, rgba(57, 74, 84, 1) 68%);
      display: flex;
      height: 70px;
      margin: auto;
      align-items: center;
      padding-left: 40px;
      padding-right: 73px;
      border-radius: 40px;
      position: relative;

      li {
        color: #ffffff;
        display: flex;
        align-items: end;
        position: relative;
        width: fit-content;
        cursor: pointer;


        img {
          height: 20px;

          &:nth-last-of-type(1) {
            height: 5px;
            position: absolute;
            bottom: 6px;
            right: 0px;
            opacity: 0.5;
          }
        }

        span {
          margin: 0 0 0 7px;
          padding-right: 15px;
        }

        &:not(:nth-last-of-type(1)) {
          margin-right: 35px;
        }

        &:nth-last-of-type(1) {
          height: 70px;
          width: 70px;
          background: linear-gradient(215deg, rgb(254, 74, 25) 0%, rgb(255, 120, 4) 94%);
          position: absolute;
          right: 1px;
          border-radius: 40px;
          display: flex;
          transition: all .5s $ease;

          input {
            position: absolute;
            border: none;
            box-shadow: none;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: transparent;
            padding-left: 30px;
            z-index: 9;
            color: #FFF;
            font-weight: 500;
            width: 70%;
            border-radius: 40px;
            display: none;

            &:focus {
              border: none;
              outline: none;
            }

            &::placeholder {
              font-weight: 700;
              color: rgba(255, 255, 255, 0.6);
            }
          }

          img {
            height: 25px;
            opacity: 1;
            top: 0;
            left: auto;
            right: 23px;
            bottom: 0;
            margin: auto;
          }

          span {
            position: absolute;
            right: -34px;
            top: 0;
            bottom: 0;
            margin: auto;
            height: fit-content;
            padding-right: 61px;
            display: none;

            button {
              cursor: pointer;
              background-color: transparent;
              border: none;
              box-shadow: none;
              color: #FFF;
              font-weight: 600;

              &:focus {
                outline: none
              }
            }

            img {
              height: 15px;
              right: 0;
              cursor: pointer;
            }
          }

          //click to search, change style
          &.search-clicked {
            width: 100% !important;

            img {
              display: none;
            }

            input {
              display: block;
            }

            span {
              display: block;

              img {
                display: block;

              }
            }
          }
        }

      }
    }

    //dropdown items
    &__dropdown {
      padding: 20px 20px;
      backdrop-filter: blur(10px);
      background: linear-gradient(140deg, rgba(17, 34, 42, 0.9402354691876751) 43%, rgb(144 112 72 / 86%) 100%);
      border-radius: 15px;
      position: absolute;
      top: 90px;
      opacity: 0;
      visibility: hidden;
      transition: all .5s $ease;

      &__title {
        display: flex;
        justify-content: space-between;
        background: linear-gradient(90deg, rgb(10 21 27 / 41%) 0%, rgb(57 74 84 / 47%) 68%);
        padding: 8px 20px;
        border-radius: 5px;
        margin-bottom: 20px;
        backdrop-filter: blur(10px);

        h4, a {
          color: #ffffff;
          font-size: 14px;
          margin: 0;
        }

      }

      &__group {
        ul {
          padding: 0 15px;
          display: flex;
          flex-wrap: wrap;

          li {
            width: 33.33%;

            a {
              display: flex;
              padding: 5px;
              background-color: transparent;
              margin-bottom: 10px;
              border-radius: 30px;
              width: calc(100% - 10px);
              align-items: center;
              color: #ffffff;
              text-transform: capitalize;
              transition: all .6s $ease;

              &:hover {
                background-color: rgb(221 221 221 / 18%);
                backdrop-filter: blur(10px);
              }

              img {
                height: 35px;
                width: 35px;
                border-radius: 50%;
                margin-right: 10px;
              }

              span {
                display: block;
                margin-top: 10px;
                text-transform: capitalize;
              }
            }
          }
        }

        //group child
        &:nth-last-of-type(1) {
          margin-top: 15px;

          ul li a {
            padding: 10px;
            text-align: center;
            border-radius: 10px;
            margin-bottom: 0;
            display: block;
          }

          img {
            width: auto;
            max-height: 50px;
            border-radius: 0;
            object-fit: contain;
          }
        }
      }

      //on click add class style
      &.open-dropdown {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  //responsive style
  @media(max-width: 950px) {
    .menu__bottom {
      margin-top: 0;

      &__main-items li:not(:nth-last-of-type(1)) {
        margin-right: 25px;
      }

      &__dropdown__group:nth-of-type(1) ul li a {
        display: flex;
      }
    }
    .menu__top__logo img {
      height: 35px;
    }

  }

  @media(max-width: 700px) {
    #search {
      overflow: hidden;

      span img {
        left: 71px;
        bottom: -4px;
      }
    }

  }

  @media(max-width: 650px) {
    padding: 10px 15px 0 15px;
    .menu__top__logo, .menu__top__account {
      padding-top: 26px;
    }
    .menu__bottom {
      margin-top: 7px;
      width: 100%;

      &__dropdown__group {

        ul {
          padding: 0;

          li a {
            font-size: 10px;
            line-height: 11px;


          }
        }

        &:nth-of-type(1) {
          ul {


            li a {
              display: flex;

              img {
                height: 20px;
                width: 20px;
                margin-right: 4px;
              }
            }
          }
        }
      }
    }
    .menu__bottom__main-items {
      padding-left: 20px;
      width: 100%;
      justify-content: space-between;

      li:not(:nth-last-of-type(1)) {
        margin-right: 10px;
      }

      span {
        font-size: 12px;
      }
    }
    #search span {
      padding-right: 0;
      right: 30px;

      img {
        left: auto;
        bottom: -1px;
        right: -12px;
      }
    }
  }

  @media(max-width: 475px) {
    .menu__top__item ul li:not(:nth-last-of-type(1)) a {
      font-size: 12px;
      margin-right: 15px;
    }

    .menu__bottom__main-items {
      height: 50px;

      li:not(:nth-last-of-type(1)) img:nth-of-type(1) {
        display: none !important;
      }
    }

    .menu__bottom__main-items li:nth-last-of-type(1) {
      height: 50px;
      width: 50px;

      img {
        height: 19px;
        right: 15px;
      }
    }

    #search {
      input {
        padding-left: 15px;
        width: 56%;

        &::placeholder {
          font-size: 10px;
        }
      }

      span img {
        //left: 84px;
        bottom: -1px;
        height: 11px;
      }
    }
    .menu__bottom__main-items {
      padding-left: 10px;

      li:not(:nth-last-of-type(1)) {
        margin-right: 6px;
      }

      li {
        span {
          padding-right: 12px;

          button {
            font-size: 10px;
          }
        }
      }

    }
    .menu__bottom__dropdown {
      top: 56px;
    }
  }

  @media(max-width: 350px) {
    .menu__bottom__main-items li span {
      margin-left: 3px;
    }
  }

}

//overlay action based on dropdown
.dropdown-active {

  .menu__top__item ul li, .menu__top__account a, .menu__bottom__main-items li:not(.dropdown-click) {
    opacity: .5;
    pointer-events: none !important;
  }

}

//Trending
.trending {
  background-color: #272727;
  padding-top: 15px;
  padding-bottom: 50px;

  &__top {
    display: flex;
    justify-content: space-between;

    .title {
      color: #ffffff;
    }
  }


  &__single {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    padding-right: 15px;
    padding-left: 15px;

    a {
      position: absolute;
      height: 100%;
      left: 15px;
      right: 15px;
      top: 0;
      z-index: 2;
    }

    &__img {
      padding-top: calc(100 / 172 * 100%);
      position: relative;

      img {
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        transition: all .5s ease;
        border-radius: 10px;
      }
    }

    &__content {
      margin-top: 10px;
      display: flex;
      justify-content: space-between;

      p {
        color: #ffffff;
        padding-right: 5px;
        text-transform: capitalize;
      }

      h5 {
        color: #ffffff;
        font-size: 16px;
        font-weight: 500;
      }
    }

    &:hover img {
      filter: brightness(70%);
    }

    .offer-badge {
      position: absolute;
      bottom: 0;
      left: 0;
    }

  }

  //responsive style
  @media(max-width: 575px) {
    .trending__single {
      margin-bottom: 35px;
      min-width: 100%;
    }

  }
}